<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Accumsan mus tortor nunc aliquet</h2>
			<p>Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend<br /> fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.</p>
		</header>
		<ul class="features">
			<li class="icon fa-paper-plane-o">
				<h3>Adoration</h3>
				<p>I have a distinct and respectful adoration for the guitar. I can show you how to be one and love your instrument.</p>
			</li>
			<li class="icon fa-laptop">
				<h3>Passion</h3>
				<p>I bring value that my patrons can benefit from. </p>
			</li>
			<li class="icon fa-code">
				<h3>Unconventional</h3>
				<p>I am not typical and neither is the work that I do. I thrive on being offbeat, eccentric and unorthodox.</p>
			</li>
			<li class="icon fa-headphones">
				<h3>I Got Your Back</h3>
				<p>There's nothing worse than getting no response from the other side of the table. Not the case here. I'm available through email and text.</p>
			</li>
			<li class="icon fa-heart-o">
				<h3>Experienced</h3>
				<p>With over 26 years of recording, touring, sessions, lessons and more, I am a complete musician through and through.</p>
			</li>
			<li class="icon fa-flag-o">
				<h3>Friendly, Patient and Flexible</h3>
				<p>I patiently work and have fun while being flexible to my patron's needs and requests. Having fun is a total part of my work ethic.</p>
			</li>
		</ul>
	</div>
</section>
